<div id="content">
  <div class="row">
    <div class="col-md-12">
      <h1>Gaming Softwares Status Page</h1>
      <div class="panel">
        <p>
          <b>
            Welcome to the status page of Skills&Slots Gaming Softwares. On this
            page, you will find the latest on site performance and any major
            issues affecting the use of any of the gaming platforms.
          </b>
        </p>
        <p style="text-transform: uppercase; color: red">DISCLAIMER:</p>
        <b
          ><span style="text-decoration: underline; text-transform: uppercase"
            >PLEASE NOTE, WE DO NOT OWN THE PLATFORMS AND DO NOT CONTROL THEIR
            FUNCTION.</span
          >
          We will pass on any reported issues to the platform owners' technical
          support teams, but please allow for delays as we do not control how
          quickly technical problems are addressed and fixed.</b
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="table-responsive">
          <div id="tbl-ga_wrapper" class="dataTables_wrapper no-footer">
            <div class="dataTables_length" id="tbl-ga_length">
              <label
                >Show
                <select name="tbl-ga_length" aria-controls="tbl-ga" class="">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label
              >
            </div>
            <div id="tbl-ga_filter" class="dataTables_filter">
              <label
                >Search:<input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="tbl-ga"
              /></label>
            </div>
            <table
              class="data-table table dataTable no-footer"
              id="tbl-ga"
              role="grid"
              aria-describedby="tbl-ga_info"
            >
              <thead>
                <tr role="row">
                  <th
                    class="sorting sorting_asc"
                    tabindex="0"
                    aria-controls="tbl-ga"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label=": activate to sort column descending"
                    style="width: 146.234px"
                  ></th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="tbl-ga"
                    rowspan="1"
                    colspan="1"
                    aria-label="GAMING SOFTWARES: activate to sort column ascending"
                    style="width: 251.516px"
                  >
                    GAMING SOFTWARES
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="tbl-ga"
                    rowspan="1"
                    colspan="1"
                    aria-label="STATUS: activate to sort column ascending"
                    style="width: 154.734px"
                  >
                    STATUS
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="tbl-ga"
                    rowspan="1"
                    colspan="1"
                    aria-label="DETAILS: activate to sort column ascending"
                    style="width: 111.516px"
                  >
                    DETAILS
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd">
                  <td class="sorting_1"></td>
                  <td>Ultra Panda</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
                <tr class="even">
                  <td class="sorting_1">
                    <img
                      src="../../assets/uploads/images/4c814030-5905-46dc-ba9a-5db39b504876_b0978ae2-faf5-4388-b3a5-4b489e161edf_Fire-KirinLOGO.png"
                      class="img-thumbnail"
                      alt="Fire Kirin"
                      width="100"
                    />
                  </td>
                  <td>Fire Kirin</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
                <tr class="odd">
                  <td class="sorting_1">
                    <img
                      src="../../assets/uploads/images/334298e1-3441-4257-bf65-fb89c4aabc81_9b199c7a-a3fc-490d-afa3-ba3cd6902f65_ORIONSTARS.png"
                      class="img-thumbnail"
                      alt="Orion Star"
                      width="100"
                    />
                  </td>
                  <td>Orion Star</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
                <tr class="even">
                  <td class="sorting_1">
                    <img
                      src="../../assets/uploads/images/75453f00-a733-4bde-85e7-6cf4ce346e07_73615880-bf15-431d-89b5-492267b83beb_RSWEEPS-azul.png"
                      class="img-thumbnail"
                      alt="RiverSweeps"
                      width="100"
                    />
                  </td>
                  <td>RiverSweeps</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
                <tr class="odd">
                  <td class="sorting_1">
                    <img
                      src="../../assets/uploads/images/7cd80d38-98ad-47ba-ad85-149ccf21f036_67445a10-f283-4998-ae1d-e2a1a89118c8_Ultra-MonsterLOGO.png"
                      class="img-thumbnail"
                      alt="Ultra Monster"
                      width="100"
                    />
                  </td>
                  <td>Ultra Monster</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
                <tr class="even">
                  <td class="sorting_1">
                    <img
                      src="../../assets/uploads/images/4802972a-93ac-4153-aead-8dba66a670f8_206b67ae-3233-4169-a441-6b2238d633af_GOLDEN-DRAGON.png"
                      class="img-thumbnail"
                      alt="Golden Dragon"
                      width="100"
                    />
                  </td>
                  <td>Golden Dragon</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
                <tr class="odd">
                  <td class="sorting_1">
                    <img
                      src="../../assets/uploads/images/bbfbcafe-e8c2-4719-b113-e11aca46793d_e6ac3b84-3613-47ad-b96a-88a2450db74d_bluedragon.png"
                      class="img-thumbnail"
                      alt="Blue Dragon"
                      width="100"
                    />
                  </td>
                  <td>Blue Dragon</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
                <tr class="even">
                  <td class="sorting_1">
                    <img
                      src="../../assets/uploads/images/545fa004-a99e-4fff-9e84-c2fbebfb7f2e_ffa2ee35-4bdc-441a-90c6-99e776bc41fa_V-PowerLOGO.png"
                      class="img-thumbnail"
                      alt="V-Power"
                      width="100"
                    />
                  </td>
                  <td>V-Power</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
                <tr class="odd">
                  <td class="sorting_1">
                    <img
                      src="../../assets/uploads/images/a82e6e2e-a4c7-494a-adc8-9742c80a9c04_31f20bab-3c59-4b1b-946c-6ef2b1d984a5_GEMINIgris.png"
                      class="img-thumbnail"
                      alt="Gemini"
                      width="100"
                    />
                  </td>
                  <td>Gemini</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
                <tr class="even">
                  <td class="sorting_1">
                    <img
                      src="../../assets/uploads/images/ed59a4cc-3e96-4ef5-95bd-253ab5d109d9_7b181d5e-6eaf-42db-8f09-81d39ad9751c_512x512bb-removebg-preview (1).png"
                      class="img-thumbnail"
                      alt="Ocean Dragon"
                      width="100"
                    />
                  </td>
                  <td>Ocean Dragon</td>
                  <td><b class="text-success">Fully Operational</b></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div
              class="dataTables_info"
              id="tbl-ga_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 10 of 11 entries
            </div>
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="tbl-ga_paginate"
            >
              <a
                class="paginate_button previous disabled"
                aria-controls="tbl-ga"
                data-dt-idx="0"
                tabindex="-1"
                id="tbl-ga_previous"
                >Previous</a
              ><span
                ><a
                  class="paginate_button current"
                  aria-controls="tbl-ga"
                  data-dt-idx="1"
                  tabindex="0"
                  >1</a
                ><a
                  class="paginate_button"
                  aria-controls="tbl-ga"
                  data-dt-idx="2"
                  tabindex="0"
                  >2</a
                ></span
              ><a
                class="paginate_button next"
                aria-controls="tbl-ga"
                data-dt-idx="3"
                tabindex="0"
                id="tbl-ga_next"
                >Next</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
