<aside id="sidebar">
  <a href="#" class="sidebar-opener"><span></span></a>
  <style>
    .icon-videotutorial {
      background-image: url(/images/icon-videotutorail-c.png);
    }
    .icon-platformstatus {
      background-image: url(/images/iconplatform-c.png);
    }
    .icon-wallet-deposit {
      background-image: url(/images/icon-deposit-p.png);
      width: 25px !important;
    }
    @media (max-width: 767px) {
      .icon-wallet-deposit {
        background-image: url(/images/icon-deposit-p.png);
        width: 21px !important;
      }
    }
    .icon-wallet-withdraw {
      background-image: url(/images/icon-withdraw-p.png);
    }
    #sidebar .nav ul li:hover > a i.icon-videotutorial {
      background-image: url(/images/icon-videotutorial.png);
    }
    #sidebar .nav ul li:hover > a i.icon-platformstatus {
      background-image: url(/images/icon-platformstatus.png);
    }
    #sidebar .nav ul li:hover > a i.icon-wallet-deposit {
      background-image: url(/images/icon-deposit-w.png);
    }
    #sidebar .nav ul li:hover > a i.icon-wallet-withdraw {
      background-image: url(/images/icon-withdraw-w.png);
    }
  </style>
  <nav class="nav">
    <ul>
      <li>
        <a href="/player/dashboard">
          <i class="fal fa-tachometer-alt-fastest"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/player/gaming-accounts">
          <i class="bi bi-people"></i>
          <span class="text">Gaming Accounts</span>
        </a>
      </li>
      <li>
        <a href="/player/transfer-credits">
          <i class="fal fa-credit-card-front"></i>
          <span class="text">Transfer Credits</span>
        </a>
      </li>
      <li>
        <a href="/player/redeem-credits">
          <i class="far fa-credit-card-blank"></i>
          <span class="text">Redeem Credits</span>
        </a>
      </li>
      <li>
        <a href="/player/wallet-deposit">
          <i class="far fa-wallet"></i>
          <span class="text">Purchase</span>
        </a>
      </li>
      <li>
        <a href="/player/wallet-withdraw">
          <i class="fal fa-money-bill"></i>
          <span class="text">Withdraw</span>
        </a>
      </li>
      <li>
        <a href="/player/video-tutorials">
          <i class="fab fa-youtube-square"></i>
          <span class="text">Video Tutorials</span>
        </a>
      </li>
      <li>
        <a href="/player/gaming-softwares-status">
          <i class="fas fa-stream"></i>
          <span class="text">Gaming Softwares Status</span>
        </a>
      </li>
      <li>
        <a href="/player/profile-settings">
          <i class="fal fa-fingerprint"></i
          ><span class="text">Profile Settings</span>
        </a>
      </li>
      <li>
        <a href="https://jivo.chat/htdXi7y9nA" target="_blank">
          <i class="fas fa-address-book"></i
          ><span class="text">CONTACT US</span>
        </a>
      </li>

      <li>
        <a href="/Account/Logout"
          ><i class="fal fa-sign-out"></i><span class="text">Logout</span></a
        >
      </li>
    </ul>
  </nav>
</aside>
