<body>
  <div id="wrapper" class="dashboard">
    <header id="header">
      <div class="container-fluid">
        <a href="#" class="sidebar-opener"><span></span></a>
        <div class="logo">
          <a href="/Home/Home">
            <img src="../../assets/images/logo-h.png" alt="AtlanticStar" />
          </a>
        </div>
        <div class="dropdown rate-dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            4.91$
          </button>
          <div class="dropdown-menu" style="">
            <a
              class="dropdown-item"
              href="http://www.ibooksocial.com"
              target="_blank"
            >
              <i class="fas fa-arrow-circle-up text-success"></i>
              PURCHASE
            </a>
            <a class="dropdown-item" href="/player/wallet-withdraw">
              <i class="fas fa-arrow-circle-down text-danger"></i>
              WITHDRAW
            </a>
          </div>
        </div>
        <ul class="user-account-links">
          <li class="uacc">
            <a href="#"
              ><i class="fal fa-user"></i
              ><span class="text">shahzaib.jutt007@gmail.com</span></a
            >
          </li>
          <li>
            <a href="#" id="bell"
              ><i style="background: #6e2763"
                ><img src="../../assets/images/bell-icon.png" alt="" /></i
              ><span class="text"></span
              ><span class="badge badge-light noti-count"></span
            ></a>
          </li>
        </ul>
        <div class="notifications" id="box">
          <h2>Notifications</h2>
          <div id="noti-items" style="max-height: 400px; overflow-y: auto">
            <!--<div class="notifications-item" onclick="ViewNotification(this, 1, 'title', 'message', false)">
                            <div class="text">
                                <h4><span class="fa fa-dot-circle-o text-danger unread"></span> Samso aliao</h4>
                                <p>Samso Nagaro Like your home work</p>
                                <p class="noti-created"><i class="fa fa-clock-o"> 2/3/2002 12:23 AM</i></p>
                            </div>
                        </div>
                        <div class="notifications-item">
                            <img src="https://img.icons8.com/flat_round/64/000000/vote-badge.png" alt="img">
                            <div class="text">
                                <h4>John Silvester</h4>
                                <p>+20 vista badge earned</p>
                            </div>
                        </div>-->
          </div>
        </div>
      </div>
    </header>
    <main id="main">
      <app-sidebar />
      <app-content />
      <app-modal />
    </main>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="copyrights">
              <p>© 2023 Skills & Slots | All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <app-notification />
</body>
