@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.fa-credit-card:before {
  content: "\f09d";
}

.fa-credit-card-blank:before {
  content: "\f389";
}

.fa-credit-card-front:before {
  content: "\f38a";
}

.fa-cricket:before {
  content: "\f449";
}

.fa-critical-role:before {
  content: "\f6c9";
}

.fa-tachometer-alt-fastest:before {
  content: "\f626";
}

.fa-tachometer-alt-slow:before {
  content: "\f627";
}

.fa-tachometer-alt-slowest:before {
  content: "\f628";
}

.fa-tachometer-average:before {
  content: "\f629";
}

.fa-tachometer-fast:before {
  content: "\f62a";
}

.fa-tachometer-fastest:before {
  content: "\f62b";
}

.fa-tachometer-slow:before {
  content: "\f62c";
}

.fa-tachometer-slowest:before {
  content: "\f62d";
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("../../assets/fonts/fa-light-300.woff2");
  src: url("../../assets/fonts/fa-light-300.woff2") format("embedded-opentype"),
    url("../../assets/fonts/fa-light-300.woff2") format("woff2"),
    url("../../assets/fonts/fa-light-300.woff2") format("woff"),
    url("../../assets/fonts/fa-light-300.woff2") format("truetype"),
    url("../../assets/fonts/fa-light-300.woff2") format("svg");
}

.fal {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../../assets/fonts/fa-light-400.woff2");
  src: url("../../assets/fonts/fa-light-400.woff2") format("embedded-opentype"),
    url("../../assets/fonts/fa-light-400.woff2") format("woff2"),
    url("../../assets/fonts/fa-light-400.woff2") format("woff"),
    url("../../assets/fonts/fa-light-400.woff2") format("truetype"),
    url("../../assets/fonts/fa-light-400.woff2") format("svg");
}

.far {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../../assets/fonts/fa-solid-900.woff2");
  src: url("../../assets/fonts/fa-solid-900.woff2") format("embedded-opentype"),
    url("../../assets/fonts/fa-solid-900.woff2") format("woff2"),
    url("../../assets/fonts/fa-solid-900.woff2") format("woff"),
    url("../../assets/fonts/fa-solid-900.woff2") format("truetype"),
    url("../../assets/fonts/fa-solid-900.woff2") format("svg");
}

.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

.social-links,
.user-account-links,
#nav ul,
.feature-list1,
.feature-list,
.quick-links,
#sidebar .nav ul,
#dialer-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after,
.dataTables_wrapper:after,
#header:after,
.user-account-links:after,
#nav:after,
#nav ul:after {
  content: "";
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.gm-style img {
  max-width: none;
}

@media only screen and (min-width: 1025px) {
  a[href^="tel"],
  a[href^="skype"],
  a[href^="sms"] {
    cursor: default;
    pointer-events: none;
  }
}
   

body {
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  color: #575757;
  background: #f5f5f5;
}


#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#wrapper.header-fixed #header {
  position: fixed;
  background: #262c6f;
  padding: 0;
}

#wrapper.nav-active #nav {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#wrapper.nav-active .nav-opener {
  z-index: 9;
}

#wrapper.nav-active .nav-opener span {
  display: none;
}

#wrapper.nav-active .nav-opener:after {
  margin-top: 0;
  transform: rotate(45deg);
}

#wrapper.nav-active .nav-opener:before {
  margin-top: 0;
  transform: rotate(-45deg);
}

#wrapper.sidebar-active #content {
  margin: 15px 15px 15px 265px;
}

@media (max-width: 767px) {
  #wrapper.sidebar-active #content {
    margin: 5px;
  }
}

#wrapper.sidebar-active #sidebar {
  left: 0;
  width: 250px;
  background: #fff;
  top: 56px;
  bottom: 45px;
  display: block;
  padding: 0;
}

@media (max-width: 767px) {
  #wrapper.sidebar-active #sidebar {
    top: 0;
    bottom: 0;
  }
}

#wrapper.sidebar-active #sidebar .nav ul li:hover > a {
  color: #fff;
}

#wrapper.sidebar-active #sidebar .nav ul li:hover > a .text {
  color: #fff;
}

#wrapper.sidebar-active #sidebar .nav ul li:hover .dropdown {
  position: relative;
  left: 0;
  width: 100%;
}

#wrapper.sidebar-active #sidebar .nav ul li > a {
  width: 100%;
}

#wrapper.sidebar-active #sidebar .nav ul li > a:hover {
  color: #fff;
}

#wrapper.sidebar-active #sidebar .nav ul li > a:hover .text {
  color: #fff;
}

#wrapper.sidebar-active #sidebar .nav ul li > a .text {
  display: inline-block;
  position: static;
  padding: 5px 10px;
  vertical-align: top;
  background: none;
  color: #175aab;
}

@media (max-width: 767px) {
  #wrapper.sidebar-active #sidebar .nav ul li > a .text {
    padding: 0;
  }
}

#wrapper.sidebar-active .sidebar-opener {
  z-index: 9;
}

#wrapper.sidebar-active .sidebar-opener span {
  display: none;
}

#wrapper.sidebar-active .sidebar-opener:after {
  margin-top: 0;
  transform: rotate(45deg);
}

#wrapper.sidebar-active .sidebar-opener:before {
  margin-top: 0;
  transform: rotate(-45deg);
}

#wrapper.inner-page .banner:after {
  transform: rotate(-2deg);
  width: 100%;
  height: 200px;
  bottom: -16px;
  left: 0;
  right: auto;
  margin: 0;
  border-radius: 0 0 0 100px;
}

#wrapper.dashboard {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

#wrapper.dashboard.header-fixed #header {
  background: linear-gradient(45deg, #175aab, #457abb);
  border-bottom: 1px solid #ccc;
}

#wrapper.dashboard.modal-active-index #content h2,
#wrapper.dashboard.modal-active-index #sidebar,
#wrapper.dashboard.modal-active-index #header {
  z-index: 0;
}

#wrapper.dashboard.modal-active-index #footer {
  z-index: -1;
}

#wrapper.dashboard td.modal-active .modal {
  display: block;
  opacity: 1;
}

#wrapper.dashboard td.modal-active .modal::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, 0.65);
  z-index: 9999;
}

#wrapper.dashboard td.modal-active .modal .modal-dialog {
  transform: translate(0, 0);
  z-index: 99999;
}

#wrapper.dashboard #header {
  padding: 0;
  position: fixed;
  background: linear-gradient(45deg, #175aab, #457abb);
}

#wrapper.dashboard #header .container-fluid {
  padding: 0 15px 0 0;
}

#wrapper.dashboard #header .nav-opener {
  margin: 7px 0;
}

#wrapper.dashboard #main {
  padding: 55px 0 30px;
}

#wrapper.dashboard .logo {
  background: #fff;
  margin: 0;
  max-width: inherit;
  padding: 0 30px 0 0;
  text-align: left;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 767px) {
  #wrapper.dashboard .logo {
    padding: 0 5px 0 0;
  }
}

#wrapper.dashboard .logo:after {
  position: absolute;
  content: "";
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27.5px 0 27.5px 30px;
  border-color: transparent transparent transparent #fff;
}

#wrapper.dashboard .logo a {
  padding: 0 15px;
  width: 170px;
}

@media (max-width: 767px) {
  #wrapper.dashboard .logo a {
    width: 94px;
    padding: 6px 0 0 7px;
  }
}

#wrapper.dashboard .logo a img {
  display: inline-block;
  vertical-align: top;
  width: auto;
  max-width: 170px;
}

@media (max-width: 767px) {
  #wrapper.dashboard .logo a img {
    max-width: inherit;
    width: 100%;
  }
}

#wrapper.dashboard .user-account-links {
  padding: 0 15px;
  border: none;
  float: right;
}

#wrapper.dashboard .custom-district-navbar {
  padding: 0 15px;
  border: none;
}

@media (max-width: 767px) {
  #wrapper.dashboard .user-account-links {
    padding: 0;
  }
}

@media (max-width: 580px) {
  #wrapper.dashboard .user-account-links {
    display: none;
  }
}

@media (max-width: 767px) {
  #wrapper.dashboard .custom-district-navbar {
    padding: 0;
  }
}

#wrapper.dashboard .user-account-links li {
  padding: 0 0 0 1px;
}

#wrapper.dashboard .user-account-links li.active a {
  background: #175aab;
  color: #fff;
}

#wrapper.dashboard .user-account-links li.active a i {
  background: #fff;
}

#wrapper.dashboard .user-account-links a {
  color: #fff;
  padding: 12px;
}

@media (max-width: 767px) {
  #wrapper.dashboard .user-account-links a {
    padding: 12px 5px;
  }
}

@media (max-width: 767px) {
  #wrapper.dashboard .custom-district-navbar a {
    padding: 12px 5px;
  }
}

#wrapper.dashboard .user-account-links a:hover {
  background: #fff;
  color: #175aab;
}

#wrapper.dashboard .custom-district-navbar a:hover {
  background: #fff;
  color: #175aab;
}

#wrapper.dashboard .user-account-links a:hover i {
  background: #175aab;
  color: #fff;
}

#wrapper.dashboard .user-account-links .text {
  font-size: 14px;
  line-height: 30px;
}

#wrapper.dashboard .custom-district-navbar.text {
  font-size: 14px;
  line-height: 30px;
}

#wrapper.dashboard .btn {
  background: #175aab;
  border-radius: 0;
  letter-spacing: 1px;
  color: #fff;
  height: 38px;
  line-height: 38px;
}

#wrapper.dashboard .btn2 {
  background: #175aab;
  border-radius: 0;
  letter-spacing: 1px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: 20px;
  padding: 22px;
}

#wrapper.dashboard .btn.mt23 {
  margin-top: 23px;
}

#wrapper.dashboard .btn.btn-success {
  background-color: #4dd46c;
  border-color: #4dd46c;
}

#wrapper.dashboard .btn.btn-success:hover {
  background: #81ed9a;
  border-color: #81ed9a;
}

#wrapper.dashboard .btn.btn-danger {
  background-color: #f44b5b;
  border-color: #f44b5b;
}

#wrapper.dashboard .btn.btn-danger:hover {
  background: #f77783;
  border-color: #f77783;
}

#wrapper.dashboard .btn:hover {
  background: #262c6f;
  border-color: #262c6f;
}

#wrapper.dashboard .btn2:hover {
  background: #175aab;
  border-color: #175aab;
}

#wrapper.dashboard #footer {
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 767px) {
  #wrapper.dashboard #footer {
    position: relative;
  }
}

#wrapper.dashboard #footer .col {
  padding: 0;
}

#wrapper.dashboard #footer:after {
  transform: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border-radius: 0;
}

#wrapper.dashboard #footer .copyrights {
  font-size: 14px;
  padding: 0;
  text-align: center;
}

#wrapper.dashboard #footer .copyrights p {
  margin: 0;
}

.container {
  max-width: 1172px;
}

a:focus {
  outline: none;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px 0 0;
}

.logo {
  float: left;
  max-width: 154px;
  margin: 19px 0;
}

@media (max-width: 1023px) {
  .logo {
    margin: 11px 0 0;
  }
}

.logo a {
  display: block;
}

.logo a img {
  display: block;
  width: 100%;
  height: auto;
}

.user-account-links {
  float: right;
  border-left: 1px solid #3a51a3;
  padding: 15px 0;
}

.custom-district-navbar {
  float: right;
  border-left: 1px solid #3a51a3;
  padding: 15px 0;
}

@media (max-width: 1023px) {
  .user-account-links {
    border: none;
    padding: 0 10px;
  }

  .custom-district-navbar {
    border: none;
    padding: 0 10px;
  }
}

.user-account-links li {
  float: left;
  padding: 0 0 0 30px;
}

@media (max-width: 1023px) {
  .user-account-links li {
    padding: 5px;
  }
}

.user-account-links button,
.user-account-links a {
  display: flex;
  color: #fff;
  border: none;
  background: none;
}

.user-account-links i {
  color: #175aab;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  border-radius: 50%;
  background: #fff;
  font-size: 13px;
}

.custom-district-navbar i {
  color: #175aab;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  border-radius: 50%;
  background: #fff;
  font-size: 13px;
}

@media (max-width: 1023px) {
  .custom-district-navbar i {
    margin: 0;
  }
}

.user-account-links .text {
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 0 10px;
}

@media (max-width: 1023px) {
  .user-account-links .text {
    display: none;
  }
}

/**/
@media (max-width: 1023px) {
  .custom-district-navbar i {
    margin: 0;
  }
}

.custom-district-navbar.text {
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 0 10px;
}

@media (max-width: 1023px) {
  .custom-district-navbar .text {
    display: none;
  }
}

.sidebar-opener,
.nav-opener {
  display: none;
  float: right;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 8px 40px;
}

@media (max-width: 1023px) {
  .sidebar-opener,
  .nav-opener {
    display: block;
  }
}

.sidebar-opener:after,
.sidebar-opener:before,
.sidebar-opener span,
.nav-opener:after,
.nav-opener:before,
.nav-opener span {
  content: "";
  width: 24px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -12px;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.sidebar-opener:before,
.nav-opener:before {
  margin-top: -8px;
}

.sidebar-opener:after,
.nav-opener:after {
  margin-top: 6px;
}

@media (max-width: 1023px) {
  .sidebar-opener {
    display: none;
  }
}

@media (max-width: 767px) {
  .sidebar-opener {
    margin: 7px 0;
    display: block;
    float: left;
  }
}

#nav {
  float: right;
  padding: 10px 0;
}

@media (max-width: 1023px) {
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #252667;
    background: -moz-linear-gradient(
      left,
      #252667 0%,
      #252d6e 6%,
      #262f72 8%,
      #283176 9%,
      #293179 11%,
      #2a347b 12%,
      #27347a 12%,
      #29357d 13%,
      #2a387f 14%,
      #29377e 15%,
      #2a387f 15%,
      #293a82 15%,
      #2a3e85 19%,
      #2b3f88 19%,
      #2b418a 21%,
      #2d458f 22%,
      #2c448e 22%,
      #2f4c9a 27%,
      #2d4d9a 28%,
      #2f4f9c 28%,
      #2f509f 28%,
      #2e4f9e 29%,
      #3053a4 31%,
      #345aab 36%,
      #335cae 37%,
      #355eb0 38%,
      #345daf 38%,
      #345eb2 38%,
      #3660b4 40%,
      #3562b7 40%,
      #3663b8 43%,
      #3765bb 43%,
      #3866bc 46%,
      #3a68c0 46%,
      #3968c0 48%,
      #3c6ac2 49%,
      #3a69c1 49%,
      #3b6ac4 49%,
      #3c6bc5 50%,
      #3e6bc6 55%,
      #446bc8 59%,
      #4a69c6 67%,
      #5264c6 72%,
      #5264c6 74%,
      #5463c8 74%,
      #5464c6 75%,
      #5562c8 75%,
      #5861c8 77%,
      #5b5cc6 82%,
      #5e5cc7 82%,
      #6158c5 86%,
      #6458c6 86%,
      #6952c4 92%,
      #6951c1 93%,
      #6951c1 93%,
      #6c51c2 93%,
      #6a4fc0 94%,
      #6b50c3 94%,
      #6a4fc0 95%,
      #714cc0 100%
    );
    background: -webkit-linear-gradient(
      left,
      #252667 0%,
      #252d6e 6%,
      #262f72 8%,
      #283176 9%,
      #293179 11%,
      #2a347b 12%,
      #27347a 12%,
      #29357d 13%,
      #2a387f 14%,
      #29377e 15%,
      #2a387f 15%,
      #293a82 15%,
      #2a3e85 19%,
      #2b3f88 19%,
      #2b418a 21%,
      #2d458f 22%,
      #2c448e 22%,
      #2f4c9a 27%,
      #2d4d9a 28%,
      #2f4f9c 28%,
      #2f509f 28%,
      #2e4f9e 29%,
      #3053a4 31%,
      #345aab 36%,
      #335cae 37%,
      #355eb0 38%,
      #345daf 38%,
      #345eb2 38%,
      #3660b4 40%,
      #3562b7 40%,
      #3663b8 43%,
      #3765bb 43%,
      #3866bc 46%,
      #3a68c0 46%,
      #3968c0 48%,
      #3c6ac2 49%,
      #3a69c1 49%,
      #3b6ac4 49%,
      #3c6bc5 50%,
      #3e6bc6 55%,
      #446bc8 59%,
      #4a69c6 67%,
      #5264c6 72%,
      #5264c6 74%,
      #5463c8 74%,
      #5464c6 75%,
      #5562c8 75%,
      #5861c8 77%,
      #5b5cc6 82%,
      #5e5cc7 82%,
      #6158c5 86%,
      #6458c6 86%,
      #6952c4 92%,
      #6951c1 93%,
      #6951c1 93%,
      #6c51c2 93%,
      #6a4fc0 94%,
      #6b50c3 94%,
      #6a4fc0 95%,
      #714cc0 100%
    );
    background: linear-gradient(
      to right,
      #252667 0%,
      #252d6e 6%,
      #262f72 8%,
      #283176 9%,
      #293179 11%,
      #2a347b 12%,
      #27347a 12%,
      #29357d 13%,
      #2a387f 14%,
      #29377e 15%,
      #2a387f 15%,
      #293a82 15%,
      #2a3e85 19%,
      #2b3f88 19%,
      #2b418a 21%,
      #2d458f 22%,
      #2c448e 22%,
      #2f4c9a 27%,
      #2d4d9a 28%,
      #2f4f9c 28%,
      #2f509f 28%,
      #2e4f9e 29%,
      #3053a4 31%,
      #345aab 36%,
      #335cae 37%,
      #355eb0 38%,
      #345daf 38%,
      #345eb2 38%,
      #3660b4 40%,
      #3562b7 40%,
      #3663b8 43%,
      #3765bb 43%,
      #3866bc 46%,
      #3a68c0 46%,
      #3968c0 48%,
      #3c6ac2 49%,
      #3a69c1 49%,
      #3b6ac4 49%,
      #3c6bc5 50%,
      #3e6bc6 55%,
      #446bc8 59%,
      #4a69c6 67%,
      #5264c6 72%,
      #5264c6 74%,
      #5463c8 74%,
      #5464c6 75%,
      #5562c8 75%,
      #5861c8 77%,
      #5b5cc6 82%,
      #5e5cc7 82%,
      #6158c5 86%,
      #6458c6 86%,
      #6952c4 92%,
      #6951c1 93%,
      #6951c1 93%,
      #6c51c2 93%,
      #6a4fc0 94%,
      #6b50c3 94%,
      #6a4fc0 95%,
      #714cc0 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252667', endColorstr='#714cc0', GradientType=1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
  }
}

#nav ul {
  position: relative;
}

#nav ul li {
  float: left;
  margin: 0 0 0 1px;
}

@media (max-width: 1023px) {
  #nav ul li {
    float: none;
    margin: 0;
  }
}

#nav ul li:hover a,
#nav ul li.active a {
  background: #262c6f;
  color: #fff;
}

@media (max-width: 1023px) {
  #nav ul li:hover a,
  #nav ul li.active a {
    background: none;
  }
}

#nav ul a {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (max-width: 1199px) {
  #nav ul a {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1023px) {
  #nav ul a {
    border-radius: 0;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
  }
}

#nav ul a.anchor-active {
  background: #262c6f;
  color: #fff;
}

.btn {
  padding: 0 25px;
  height: 34px;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  background: #175aab;
  border-radius: 20px;
  border: 1px solid transparent;
}

.btn:hover {
  color: #fff;
  background: #175aab;
  border: 1px solid #175aab;
}

.btn.btn1 {
  color: #fff;
  background: none;
  border: 1px solid #262c6f;
}

.btn.btn1:hover {
  color: #262c6f;
  background: #fff;
}

.btn:focus {
  box-shadow: none;
}

.btn-row .btn {
  margin: 0 15px 5px 0;
}

.img-bx img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
  color: #3b69c3;
  text-transform: uppercase;
  margin: 0 0 20px;
}

h1 span {
  font-weight: 300;
}

@media (max-width: 1199px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

h2 {
  font-size: 34px;
  line-height: 42px;
  color: #175aab;
  letter-spacing: 6px;
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  padding: 50px 0 0;
  position: relative;
  z-index: 1;
}

@media (max-width: 1199px) {
  h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

h2:after {
  position: absolute;
  content: "";
  width: 90px;
  height: 79px;
  background: url("../../assets/images/logo-h.png") no-repeat;
  background-size: cover;
  top: 0;
  left: 50%;
  margin: 0 0 0 -45px;
  z-index: -1;
}

h3 {
  color: #262c6f;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 20px;
}

h4 {
  color: #262c6f;
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 10px;
  font-weight: 400;
}

.section {
  text-align: center;
}

.feature-list1,
.feature-list {
  overflow: hidden;
  counter-reset: item;
}

.feature-list1 li,
.feature-list li {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin: 0 -2px;
  padding: 15px;
  counter-increment: item;
}

@media (max-width: 767px) {
  .feature-list1 li,
  .feature-list li {
    width: 100%;
  }
}

.feature-list1 .box,
.feature-list .box {
  -webkit-box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.15);
  padding: 50px;
  margin: 50px 0 0;
  position: relative;
}

@media (max-width: 767px) {
  .feature-list1 .box,
  .feature-list .box {
    padding: 50px 15px 15px;
  }
}

.feature-list1 .box:before,
.feature-list .box:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin: -35px 0 0 -35px;
  content: "0" counter(item);
  border-radius: 100%;
  color: #262c6f;
  width: 70px;
  height: 70px;
  text-align: center;
  background: #fff;
  font-size: 34px;
  line-height: 70px;
  font-weight: 900;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 255, 209, 0.2);
  -moz-box-shadow: 0px 0px 0px 10px rgba(0, 255, 209, 0.2);
  box-shadow: 0px 0px 0px 10px rgba(0, 255, 209, 0.2);
}

.feature-list1 p,
.feature-list p {
  margin: 0 0 15px;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 991px) {
  .feature-list1 p,
  .feature-list p {
    font-size: 14px;
    line-height: 20px;
  }
}

.feature-list1 .img-bx,
.feature-list .img-bx {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.feature-list1 .img-bx img,
.feature-list .img-bx img {
  display: block;
  width: 100%;
  height: auto;
}

.feature-list1 li {
  width: 33.3%;
}

@media (max-width: 767px) {
  .feature-list1 li {
    width: 100%;
  }
}

.feature-list1 .box {
  background: #fff;
}

.text-white {
  color: #fff;
}

#footer {
  position: relative;
  padding: 50px 0;
  color: #fff;
}

@media (max-width: 767px) {
  #footer {
    padding: 50px 0 0;
  }
}

#footer:after {
  position: absolute;
  content: "";
  width: 100%;
  right: -200px;
  bottom: -750px;
  height: 1000px;
  background: #175aab;
  transform: skew(0.09turn, -11deg);
  border-radius: 0 100px 0 0;
  z-index: 0;
  margin: 0;
}

@media (max-width: 767px) {
  #footer:after {
    bottom: auto;
    top: 100px;
    width: 1000px;
  }
}

#footer .container {
  position: relative;
  z-index: 1;
}

#footer .container .col1 {
  display: table;
  height: 100%;
  width: 100%;
  min-height: 255px;
}

#footer .container .col-holder {
  display: table-cell;
  vertical-align: bottom;
}

@media (max-width: 767px) {
  #footer .container .row {
    display: block;
  }
}

@media (max-width: 767px) {
  #footer .container .col {
    width: 100%;
    padding-bottom: 20px;
  }

  #footer .container .col .col-holder {
    width: 100%;
    text-align: center;
  }
}

#footer .inner-bx {
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.15);
  padding: 50px;
  border-radius: 30px;
}

@media (max-width: 991px) {
  #footer .inner-bx {
    padding: 25px;
  }
}

#footer h5 {
  color: #fff;
  font-weight: 700;
  margin: 0 0 20px;
}

#footer h3 {
  font-weight: 400;
  font-size: 28px;
}

@media (max-width: 991px) {
  #footer h3 {
    font-size: 22px;
  }
}

#footer h3 span {
  color: #888;
  display: block;
  font-size: 20px;
}

@media (max-width: 991px) {
  #footer h3 span {
    font-size: 16px;
  }
}

#footer .social-links {
  padding: 15px 0 0;
}

#footer .social-links a {
  font-size: 20px;
  line-height: 26px;
  color: #888;
  position: relative;
  padding: 0 0 0 40px;
}

#footer .social-links a i {
  background: none;
  color: #262c6f;
  width: auto;
  height: auto;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  top: 0;
  left: 0;
}

#footer .copyrights {
  font-size: 18px;
  line-height: 24px;
  padding: 30px 0 0;
}

.quick-links {
  overflow: hidden;
}

.quick-links li {
  padding: 0 0 10px;
}

.quick-links a {
  color: #fff;
}

.quick-links a:hover {
  color: #fff;
}

.row.center {
  justify-content: center;
}

.form {
  width: 100%;
  padding: 0 2px;
}

.form .row {
  margin: 0 -7px;
}

.form select,
.form .form-control {
  background: none;
  height: 40px;
  line-height: 38px;
  border-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  letter-spacing: 1px;
  background: white;
  display: block;
  width: 100%;
}

.form select:focus,
.form .form-control:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
  outline: none;
}

.form select {
  background: url(../../assets/images/logo-h.png) no-repeat #fff;
  background-size: 8px 6px;
  background-position: calc(100% - 10px) 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 38px;
  color: #495057;
  padding: 0 35px 0 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form .form-group {
  width: 100%;
  margin: 0 0 15px;
  padding: 0 7px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .form .form-group {
    margin: 0 0 15px;
  }
}

.form .form-group.width50 {
  margin: 0 8px 15px;
  width: calc(50% - 16px);
  float: left;
}

@media (max-width: 767px) {
  .form .form-group.width50 {
    margin: 0 0 15px;
  }
}

.form .form-group .img-bx {
  display: inline-block;
  vertical-align: top;
  max-width: 200px;
}

.form label {
  margin: 0 0 2px;
  letter-spacing: 2px;
  font-size: 13px;
}

.table-responsive {
  position: relative;
  z-index: 0;
}

#sidebar {
  width: 70px;
  display: flex;
  align-items: center;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 70px 0;
  z-index: 10;
}

@media (max-width: 767px) {
  #sidebar {
    width: 200px;
    left: -200px;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
    background: #175aab;
    z-index: 9999;
  }
}

#sidebar .nav {
  float: none;
  background: #fff;
  padding: 50px 0;
  position: relative;
}

@media (max-width: 767px) {
  #sidebar .nav {
    width: 100%;
    padding: 70px 0 50px;
    overflow: hidden;
    overflow-y: scroll;
  }
}

#sidebar .nav:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #fff;
}

@media (max-width: 767px) {
  #sidebar .nav:before {
    display: none;
  }
}

#sidebar .nav:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #fff transparent transparent transparent;
}

@media (max-width: 767px) {
  #sidebar .nav:after {
    display: none;
  }
}

@media (max-width: 767px) {
  #sidebar .nav ul {
    width: 100%;
  }
}

#sidebar .nav ul li {
  float: none;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar .nav ul li:hover > a {
  background: linear-gradient(45deg, #175aab, #457abb);
}

#sidebar .nav ul li:hover > a .text {
  display: block;
  background: linear-gradient(45deg, #175aab, #457abb);
}

@media (max-width: 767px) {
  #sidebar .nav ul li:hover > a .text {
    display: inline-block;
    vertical-align: top;
  }

  #sidebar .nav ul li:hover > a .text:hover {
    background: none;
  }
}

#sidebar .nav ul li:hover .dropdown {
  display: block;
}

#sidebar .nav ul li.active > a {
  background: #262c6f;
}

@media (max-width: 767px) {
  #sidebar .nav ul li.active > a .text {
    display: inline-block;
    vertical-align: top;
  }

  #sidebar .nav ul li.active > a .text:hover {
    background: none;
  }
}

#sidebar .nav ul li.active .dropdown {
  display: block;
}

#sidebar .nav ul li > a {
  color: #175aab;
  padding: 10px;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
}

@media (max-width: 767px) {
  #sidebar .nav ul li > a {
    text-align: left;
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 35px;
  }
}

#wrapper.sidebar-active #sidebar .sidebar-opener:after,
#wrapper.sidebar-active #sidebar .sidebar-opener:before {
  background-color: black;
}

#sidebar .sidebar-opener {
  position: absolute;
  top: 0;
  right: 0;
}

#sidebar .nav ul li > a i {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 30px;
  width: 20px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  #sidebar .nav ul li > a i {
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 14px;
  }
}

#sidebar .nav ul li > a .text {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 15px 10px;
  width: 200px;
  background: linear-gradient(45deg, #175aab, #457abb);
  color: #fff;
  text-align: left;
}

@media (max-width: 767px) {
  #sidebar .nav ul li > a .text {
    position: static;
    width: auto;
    left: 0;
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }
}

#sidebar .nav .dropdown {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 200px;
  padding: 4px 0 0 4px;
  display: none;
}

@media (max-width: 767px) {
  #sidebar .nav .dropdown {
    position: static;
    width: 100%;
    padding: 0;
  }
}

#sidebar .nav .dropdown ul {
  background: #fff;
}

#sidebar .nav .dropdown ul li a {
  width: 100%;
  height: auto;
  text-align: left;
}

#sidebar .nav .dropdown ul li a:hover {
  background: linear-gradient(45deg, #175aab, #457abb);
  color: white;
}

.modal h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0;
  text-align: left;
}

.modal .modal-body {
  letter-spacing: 1px;
}

.contactus {
  padding: 100px 0 50px;
  text-align: left;
}

.contactus .form {
  max-width: 1000px;
  margin: 0 auto;
}

td .modal {
  display: none;
  opacity: 0;
}

td .modal .modal-dialog {
  background: #fff;
}

#dialer-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background: #fff;
  z-index: 10;
  height: 100%;
  padding: 50px 20px;
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  transform: translateX(300px);
}

#dialer-sidebar h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0 0 10px;
  margin: 0 0 15px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #3b69c3;
}

#dialer-sidebar .dialer-opener {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

#dialer-sidebar ul {
  overflow: hidden;
}

#dialer-sidebar ul li {
  display: block;
  margin: 0 0 5px;
}

#dialer-sidebar ul button,
#dialer-sidebar ul a {
  display: block;
  padding: 9px 15px;
  width: 100%;
  background: #37a000;
  border: none;
  text-align: left;
  color: #fff;
}

#dialer-sidebar ul button:hover,
#dialer-sidebar ul a:hover {
  background: #7fc659;
}

#dialer-sidebar ul button i,
#dialer-sidebar ul a i {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.popup-fileuplad .profile-img {
  width: 100%;
  height: 150px;
}

.popup-fileuplad .profile-img .dz-default.dz-message span {
  font-size: 13px;
  line-height: 19px;
}

.rate-dropdown {
  float: right;
  margin: 0 -15px 0 0;
}

@media (max-width: 1199px) {
  .rate-dropdown {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 580px) {
  .rate-dropdown {
    margin: 0 -15px 0 0;
  }
}

.rate-dropdown.show .dropdown-toggle:after {
  transform: rotate(180deg);
}

.rate-dropdown .dropdown-toggle {
  border-radius: 0;
  border-color: #9d2a9b;
  height: 89px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

@media (max-width: 1199px) {
  .rate-dropdown .dropdown-toggle {
    padding: 0 15px;
  }
}

@media (max-width: 1199px) {
  .rate-dropdown .dropdown-toggle {
    height: 50px;
  }
}

.rate-dropdown .dropdown-toggle {
  height: 56px !important;
}

.rate-dropdown .dropdown-toggle:active,
.rate-dropdown .dropdown-toggle:hover,
.rate-dropdown .dropdown-toggle:focus {
  box-shadow: none;
  border-color: #9d2a9b;
  background: #9d2a9b;
}

.rate-dropdown .dropdown-toggle:after {
  border-top: 8px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.rate-dropdown .dropdown-menu {
  left: auto !important;
  right: 0 !important;
  transform: none !important;
  margin: 0 !important;
  top: 100% !important;
  padding: 0;
  border: none;
  min-width: 200px;
}

@media (max-width: 419px) {
  .rate-dropdown .dropdown-menu {
    width: 100%;
  }
}

.rate-dropdown .dropdown-menu a {
  padding: 10px;
  background: #190513;
  color: #fff;
}

.rate-dropdown .dropdown-menu a:hover {
  background: #2e0323;
}

.rate-dropdown .dropdown-menu a i {
  margin-right: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

#bell {
  position: relative;
}

#bell .noti-count {
  position: absolute;
  right: 22px;
  top: 6px;
}

.notifications {
  width: 300px;
  display: none;
  position: absolute;
  top: 63px;
  right: 62px;
  border-radius: 5px 0px 5px 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notifications h2 {
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid #eee;
  color: #999;
  margin: unset;
}

.notifications h2 span {
  color: #f00;
}

.notifications-item {
  border-bottom: 1px solid #eee;
  padding: 6px 9px;
  margin-bottom: 0px;
  cursor: pointer;
}

.notifications-item:hover {
  background-color: #eee;
}

.notifications-item img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 9px;
  border-radius: 50%;
  margin-top: 2px;
}

.notifications-item .text h4 {
  color: #777;
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: unset;
}

.notifications-item .text h4 .unread {
  font-size: 8px;
}

.notifications-item .text p {
  color: #aaa;
  font-size: 12px;
  margin: unset;
}

.notifications-item .text p.noti-created {
  text-align: end;
  font-size: 10px;
}
#wrapper.dashboard #header,
#wrapper.dashboard.header-fixed #header {
  background: linear-gradient(45deg, #d028bd, #58264f);
}

#footer:after {
  background: #a83c9c;
}

#sidebar .nav ul li > a {
  color: #a83c9c;
}

#sidebar .nav ul li:hover > a {
  background: linear-gradient(45deg, #b0289f, #6c2761);
}
#sidebar .nav ul li:hover > a .text {
  background: linear-gradient(45deg, #b328a2, #a93f9d);
}
#sidebar .nav .dropdown ul li a:hover {
  background: linear-gradient(45deg, #b328a2, #a93f9d);
}
#wrapper.dashboard .user-account-links a:hover {
  background: #6e2763;
  color: white;
}
#wrapper.dashboard .user-account-links a:hover i {
  background: #ac279c;
}
#wrapper.dashboard .btn {
  background: #b028a0;
}
#wrapper.dashboard .btn:hover {
  background: #6d2762;
  border-color: #76266a;
}
.bg-c-blue {
  background: linear-gradient(45deg, #b028a0, #6e2764) !important;
}
h2 {
  color: #d028bd;
}
